body {
  background: linear-gradient(-45deg, rgba(255, 189, 199, 234), rgba(255, 216, 221, 235), rgba(255, 235, 237, 236));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-width: 1200px;
}

.mainbox {
  background: linear-gradient(-45deg, rgba(255, 189, 199, 234), rgba(255, 216, 221, 235), rgba(255, 235, 237, 236));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}