body {
  background: linear-gradient(-45deg, rgba(255, 189, 199, 234), rgba(255, 216, 221, 235), rgba(255, 235, 237, 236));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-width: 1200px;
    font-family: 'Comforter Brush', cursive;
}

.main-letter {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background: url("img/letter-background.jpg");
  border: 10px solid #efcfd8;
  border-radius: 25px;
  position: relative;
  display: block;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}