{% extends 'base.html' %}

{% block title %}
    <title>Error</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block body %}
<body>
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin">0</i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="http://127.0.0.1:5000/">home</a> and try from there.</p></div>
      </div>
</body>
{% endblock %}