{% extends 'base.html' %}

{% block title %}
    <title>Create Letter</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <form action="#" method="post">
    {#  Main letter  #}
    <div class="main-letter">
        {#    Content of the letter    #}
        <p class="from">From:</p>
        <input class="author" name="author" placeholder="Enter text..." required>
        <input class="text" name="text" placeholder="Enter text..." required>
        <p class="to">To:</p>
        <input class="recipient" name="recipient" placeholder="Enter text..." required>
    </div>
    <button class="send-message" type="submit">💌</button>
</form>
{% endblock %}